

.dark-theme {
    --backgroundColor: #181818;
    --secondaryBackgroundColor: #121212;
    --textColor: rgba(255, 255, 255, 0.88);
    --textSecondaryColor: rgba(255, 255, 255, 0.56);
    --primary: #3178c6;
    --primaryLight: #6ec6ff;
    --primaryDark: #0069c0;
    --secondary: #1a237e;
    --secondaryLight: #534bae;
    --secondaryDark: #000051;
    --moduleName: #c62828;
    --className: #f06292;
    --interfaceName: #ba68c8;
    --enumName: #9575cd;
    --functionName: #64b5f6;
    --typeName: #7986cb;
    --constantName: #4fc3f7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.navi {
    background-color: var(--primary);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.collapsible-arrow {
    border: solid var(--primaryLight);
    display: inline-block;
    padding: 4px;
    margin-left: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 0.5px;
    margin-right: 10px;
}

.collapsible-arrow:hover {
    cursor: pointer;
}

.collapsible-arrow.open {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2.5px;
}

.collapsible-body {
    display: none;
}

.collapsible-body.open {
    display: block;
}

.sidebar {
    background-color: var(--secondaryBackgroundColor)
}

.sidebar-category {
    font-size: 1.3em;
    font-weight: bold;
}

.sidebar-member {
    margin-bottom: 10px;
}

.sidebar-category-member {
    margin-bottom: 4px;
}

.sidebar-category-member a {
    text-decoration: none;
    color: var(--textColor);
}

.sidebar-category-member a:visited {
    text-decoration: none;
    color: var(--textColor);
}

.lib-name {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
}

.referenceLink {
    font-weight: bold;
    text-decoration: none;
    color: var(--secondaryLight);
}

.class {
    color: var(--className);
}

.interface {
    color: var(--interfaceName);
}

.enum {
    color: var(--enumName);
}

.module {
    color: var(--moduleName);
}

.function {
    color: var(--functionName);
}

.type {
    color: var(--typeName);
}

.constant {
    color: var(--constantName);
}

.search:hover,
.search:not(:hover),
.search {
    color: var(--textColor);
    background-color: var(--primaryDark);
    border: none !important;
    outline: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search::placeholder {
    color: var(--textColor);
}

code {
    color: var(--primaryLight)
}

h2, h3, h4, h5, h6 {
    border-bottom: solid white 1px;
    padding-bottom: 10px;
}

h3 {
    margin-left: 15px;
}

h4 {
    margin-left: 25px;
}

h5 {
    margin-left: 35px;
}

.path-member {
    color: var(--textSecondaryColor);
    text-decoration: none;
}

.path-member:hover {
    color: var(--textSecondaryColor);
    text-decoration: underline;
}

.docblock {
    margin-left: 24px;
}

.item-name {
    font-weight: bold;
}