
html[data-theme="dark"] {
    --backgroundColor: #2F3035;
    --textColor: rgba(255, 255, 255, 0.88);
    --textSecondaryColor: rgba(255, 255, 255, 0.56);
    --sidebarColor: #202125;
    --navigationColor: #454546;
    --searchColor: #5a5a5a;
    --primaryLight: #6ec6ff;
    --moduleName: #c62828;
    --objectName: #56D69C;
    --functionName: #64b5f6;
    --typeName: #7986cb;
    --methodName: #DCDCAA;
    --functionParamName: #9cdcfe;
    --primitiveName: #79C0FF;
    --propertyName: #9BBCFC;
    --constantName: #4fc3f7;
    --modifierColor: #FF7B7B;
    --stringColor: #CE9178;
    --numberColor: #B5CEA8;
    --keywordColor: #245db4;
    --linkColor: #58a6ff;
    --warningColor: #f1686a50;
}

html[data-theme="light"] {
    --backgroundColor: #ffff;
    --textColor: black;
    --textSecondaryColor: rgba(0, 0, 0, 0.63);
    --sidebarColor: #cfcfcf;
    --navigationColor: #DFDFDF;
    --searchColor: #cfcfcf;
    --primaryLight: #202125;
    --moduleName: #c62828;
    --objectName: #3daa79;
    --functionName: #64b5f6;
    --typeName: #7986cb;
    --methodName: #cc9a55;
    --functionParamName: #202125;
    --primitiveName: #4baaff;
    --propertyName: #3d7cf5;
    --constantName: #4fc3f7;
    --modifierColor: #ff2a2a;
    --stringColor: #CE9178;
    --numberColor: #B5CEA8;
    --keywordColor: #245db4;
    --linkColor: #58a6ff;
    --warningColor: #c72b2d50;
}

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  overflow: hidden;
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

a:hover {
    color: var(--linkColor);
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primaryLight); 
}

.navi {
    background-color: var(--navigationColor);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.collapsible-trigger {
    cursor: pointer;
}

.collapsible-arrow {
    border: solid var(--primaryLight);
    display: inline-block;
    padding: 4px;
    margin-left: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 0.5px;
    margin-right: 10px;
}

.collapsible-arrow.open {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2.5px;
}

.collapsible-body {
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 35px;
}

.collapsible-body.open {
    display: block;
}

.sidebar {
    background-color: var(--sidebarColor);
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 80px;
    padding-top: 80px;
}

.sidebar-category {
    font-size: 1.3em;
    font-weight: bold;
}

.sidebar-member {
    margin-bottom: 10px;
}

.sidebar-category-member {
    margin-bottom: 4px;
}

.sidebar-category-member a {
    text-decoration: none;
    color: var(--textColor);
}

.sidebar-category-member a:visited {
    text-decoration: none;
    color: var(--textColor);
}

.lib-name {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.content {
    overflow-y: auto;
    max-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
}

.reference-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
}

.module {
    color: var(--moduleName);
}

.function {
    color: var(--functionName);
}

.type {
    color: var(--typeName);
}

.constant {
    color: var(--constantName);
}

.search:hover,
.search:not(:hover),
.search {
    color: var(--textColor);
    background-color: var(--searchColor);
    border: none !important;
    outline: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none;
}

.search::placeholder {
    color: var(--textColor);
}

.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

code {
    color: var(--primaryLight)
}

h2, h3, h4, h5, h6 {
    border-bottom: solid var(--textColor) 1px;
    padding-bottom: 10px;
}

h2.section-header, h3.section-header, h4.section-header, h5.section-header, h6.section-header {
    margin-top: 10px;
    color: var(--primaryLight)
}

h1.section-header {
    display: none;
}


.path-member {
    color: var(--textSecondaryColor);
    text-decoration: none;
}

.path-member:hover {
    color: var(--textSecondaryColor);
    text-decoration: underline;
}

.docblock {
    margin-left: 24px;
}

.dockblock .section-header, .docblock .section-header, .docblock .section-header, .docblock .section-header, .docblock .section-header {
    font-size: 16px !important;
}

.docblock.secondary {
    color: var(--textSecondaryColor);
    font-size: 12px;
}

.item-name {
    font-weight: bold;
    font-family: var(--bs-font-monospace)
}

.item {
    margin-bottom: 20px;
    scroll-margin-top: 80px;
}

.object {
    color: var(--objectName);
}

.object:hover {
    text-decoration: underline;
    color: var(--objectName);
}

.method-name {
    color: var(--methodName);
}

.method-name:hover {
    color: var(--methodName);
}

.property-name {
    color: var(--propertyName);
}

.property-name:hover {
    color: var(--propertyName);
}

.primitive {
    color: var(--primitiveName);
    text-decoration: none;
}

.primitive:hover {
    color: var(--primitiveName);
    text-decoration: underline;
}

.external {
    text-decoration: none;
    color: var(--objectName);
}

.external:hover {
    text-decoration: underline;
    color: var(--objectName);
}

.param-name {
    color: var(--functionParamName);
}

.sourceCode {
    color: var(--primaryLight);
    cursor: pointer;
}

.symbol,
.modifier {
    color: var(--modifierColor);
    font-family: var(--bs-font-monospace);
}

.secondary-text {
    color: var(--textSecondaryColor);
    font-family: var(--bs-font-monospace);
    font-weight: bold;
}

.string-literal:hover,
.string-literal {
    color: var(--stringColor);
}

.number-literal:hover,
.number-literal {
    color: var(--numberColor)
}

.keyword {
    color: var(--keywordColor);
    font-weight: bold;
    font-family: var(--bs-font-monospace);
}

.c-tooltip {
    position: relative;
}

.c-tooltip-content {
    position: absolute;
    display: none;
    background-color: var(--sidebarColor);
    padding: 5px 5px 5px 5px;
    transform: translate(-45%, -100%);
    border: solid 1px var(--textSecondaryColor);
    overflow: visible;
    white-space: nowrap;
}

.c-tooltip-content.open {
    display: inline-block;
}

.c-checkbox {
    margin-right: 10px;
}

.c-checkbox[type="checkbox"]:before{
    display: block;
    width: 15px;
    height: 15px;
    content: "";
}

.c-checkbox[type="checkbox"]:after{
    position: relative;
    display: block;
    left: 0px;
    top: -15px;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.56);
    content: "";
    background-color: var(--sidebarColor);
}

.c-checkbox[type="checkbox"]:checked:after{
    content: "✓";
    color: var(--primaryLight);
    font-size: 10px;
    text-align: center;
}

.mini-header {
    font-size: 1.5em;
}

.search-result {
    margin-top: 10px;
}

.clickable-icon, .clickable-icon:hover {
    cursor: pointer;
    color: var(--textColor);
}

.badge.danger {
    background-color: #ff1919;
    color: white;
    margin-left: 15px;
}

.current-thing {
    font-weight: bold;
    margin-left: 10px;
    font-family: var(--bs-font-monospace);
}

.btn-to-top {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 1000;
    background-color: var(--sidebarColor);
    color: var(--textColor);
    padding: 10px;
    cursor: pointer;
}

.text-warning {
    background-color: var(--warningColor);
    color: var(--textColor) !important;
    border-left: 5px solid red;
    padding: 5px 5px;
    width: 80%;
}