
<div id="class.constructor" class="item">
    <p class="item-name"><span class="keyword">constructor</span><span>({{~{join parameters ", "}~}})</span></p>

    <div class="docblock">
    {{{formatFunctionParameterComments this}}}
    </div>
</div>