

{{#resolveOverloads signatures}}
<div id="class.constructor" class="item">
    <span class="item-name"><span class="keyword">constructor</span><span>({{#if isLarge}}<div class="left-item">{{{join parameters ",<br>"}}}</div>{{else}}{{{join parameters ", "}}}{{/if}})</span></span>

    <div class="docblock">
    {{{formatFunctionParameterComments this}}}
    </div>
</div>
{{/resolveOverloads}}