<div>
    <h1>Const <span class="referenceLink constant">{{name}}</span>
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    </h1>

    {{#if type}}
    <span>{{{type}}}</span>
    {{/if}}

    <br><br>

    {{#if content}}
<pre>
<code class="hljs">
{{泔铘孱酏}
</code>
</pre>
    {{/if}}
</div>