<div>
    <h1>Const <span class="referenceLink constant">{{name}}</span></h1>

    {{#if definedIn}}
    <p><a class="secondary-text" href={{loc.sourceFile}}>Defined in {{definedIn}}.ts</a></p>
    {{/if}}

    {{#if type}}
    <span>{{{type}}}</span>
    {{/if}}

    <br><br>

    {{#if content}}
<pre>
<code class="hljs">
{{泔铘孱酏}
</code>
</pre>
    {{/if}}
</div>