<div>
    <h1>Constant <span class="referenceLink constant">{{name}}</span></h1>

    {{#if type}}
    <span>Type: {{{type}}}</span>
    {{/if}}

    <br><br>

    {{#if content}}
    {{content}}
    {{/if}}
</div>