<div>
    <h1>Function <span class="referenceLink method-name">{{name}}</span></h1>

    {{#each signatures}}
    <div>
        ({{{join parameters ", "}}}) => {{{returnType}}}
    </div>
    {{/each}}
</div>