

<div>
    <h1>
    {{#if isNamespace}}Namespace{{else}}Module{{/if}}
    <span class="referenceLink module">{{name}}</span>
    <a href={{this.repository}}>{{> sourceCode}}</a>
    </h1>

    {{#if readme}}
    {{{readme}}}
    {{/if}}
</div>