<div class="item" id={{name}}>
    <span class="item-name"><span class="property-name">{{name}}</span>
        {{~#if type}}<span>: {{{type}}}</span>{{/if~}}
    </span>
    {{#if isStatic}}<span class="badge">static</span>{{/if}}
    {{#if isProtected}}<span class="badge">protected</span>{{/if}}
    {{#if isAbstract}}<span class="badge">abstract</span>{{/if}}
    {{#if isPrivate}}<span class="badge">private</span>{{/if}}
    {{#if isReadonly}}<span class="badge">readonly</span>{{/if}}
    <div class="docblock">
        {{{comment}}}
    </div>
</div>