<div>
    <h1>Type alias <span class="referenceLink object">{{name}}</span>{{#if typeParameters}}<span>&lt;{{~{join typeParameters ", "}~}}&gt;</span>{{/if}}
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    </h1>
    
    <p>{{{comment}}}</p>
    
    {{#if value}}{{{value}}}{{/if}}

</div>