<div>
    <h1>Type alias <span class="referenceLink object">{{name}}</span>
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    </h1>
    
    <p>{{{comment}}}</p>
    
    {{#if value}}{{{value}}}{{/if}}

</div>